<div class="flex basis-1/4 flex-col justify-between bg-blue-600 h-screen mb-0">
  <div class="flex flex-col justify-start">
    <div class="flex">
      <h1 class="text-2xl text-white font-semibold m-5">Arike</h1>
    </div>
    <div
      class="flex flex-col h-12 mx-7 mb-2 rounded text-white hover:bg-gray-100 hover:text-black active:bg-gray-100 active:text-black justify-center"
    >
      <a href="/home/">
        <h1 class="font-semibold ml-10">Home</h1>
      </a>
    </div>
    <div
      class="flex flex-col h-12 mx-7 mb-2 rounded text-white hover:bg-gray-100 hover:text-black active:bg-gray-100 active:text-black justify-center"
    >
      <a href="/facilities/">
        <h1 class="font-semibold ml-10">Facility</h1>
      </a>
    </div>
    <div
      class="flex flex-col h-12 mx-7 mb-2 rounded text-white hover:bg-gray-100 hover:text-black active:bg-gray-100 active:text-black justify-center"
    >
      <a href="/patients/">
        <h1 class="font-semibold ml-10">Patients</h1>
      </a>
    </div>
    <div
      class="flex flex-col h-12 mx-7 mb-2 rounded text-white hover:bg-gray-100 hover:text-black active:bg-gray-100 active:text-black justify-center"
    >
      <a href="">
        <h1 class="font-semibold ml-10">Schedules</h1>
      </a>
    </div>
    <div
      class="flex flex-col h-12 mx-7 mb-2 rounded text-white hover:bg-gray-100 hover:text-black active:bg-gray-100 active:text-black justify-center"
    >
      <a href="/users/">
        <h1 class="font-semibold ml-10">Users</h1>
      </a>
    </div>
    <div
      class="flex flex-col h-12 mx-7 mb-2 rounded text-white hover:bg-gray-100 hover:text-black active:bg-gray-100 active:text-black justify-center"
    >
      <a href="/profile/">
        <h1 class="font-semibold ml-10">Profile</h1>
      </a>
    </div>
  </div>

  <div class="flex flex-col justify-center px-7 bg-blue-600 h-28">
    <hr class="text-black w-full mb-3" />

    <div class="flex flex-row px-5 justify-center">
      <div class="justify-start mr-5">
        <img
          class="inline-block h-12 w-12 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt=""
        />
      </div>
      <div class="flex flex-col">
        <h3 class="mx-0 text-white font-semibold">{{username}}</h3>
        <a class="text-sm text-gray-100" href="/logout/">Log out</a>
      </div>
    </div>
  </div>
</div>
