{% extends "base.html" %} {% block content %}
<div class="flex mb-0">
  {% include 'dashboard_layout.html' with username=myuser.username %}
  <div class="flex basis-3/4 bg-gray-200 h-screen mb-0 overflow-auto">
    <div class="flex flex-col w-full ">
      <div class="flex justify-center mt-12">
       <form method="post">
        {% csrf_token %}
          <h1 class="text-3xl font-bold">Delete Family Member {{object}}?</h1>
        
       
          <p class="text-lg text-gray-600 mt-8 ">{{object}} will be deleted. <br />
        Are you sure? Action cannot be reversed.</p>
          <div class="flex mt-4">
            <button
              class="bg-white text-black px-4 py-1 rounded-lg font-semibold border-2 border-black hover:bg-blue-600 hover:text-white"
            >
              <a href="/patients/">Cancel</a>
            </button>
            <button
              class="bg-blue-600 text-white px-4 py-1 mx-4 rounded-lg font-semibold"
            >
              Delete
            </button>
          </div>
        </form>
    </div>
        </div>
   
 
    </div>
  </div>
</div>
​ {% endblock %}