{% extends "base.html" %} {% block content %}
<div class="flex mb-0">
  {% include 'dashboard_layout.html' with username=myuser.username %}
  <div class="flex basis-3/4 bg-gray-200 h-screen mb-0 overflow-auto">
    <div class="flex flex-col w-full">
      <div class="flex flex-col basis-1/5 w-full justify-center">
        <div class="flex mx-10 mt-5 justify-between">
          <h1 class="text-3xl font-bold">Users</h1>
          {% if myuser.role == 'District Admin' %}
          <button
            class="bg-blue-600 text-white px-3 py-1 rounded-lg font-semibold"
          >
            <a href="/create-user/">New</a>
          </button>
          {% endif %}
        </div>
        <div class="flex mx-10 my-5 justify-between">
          <form class="" method="get">
            <div class="flex justify-start">
              <input
                type="text"
                name="search"
                placeholder="search"
                class="bg-white rounded-lg px-2 py-2"
              />
              <button class="bg-white rounded ml-2 px-1 py-1">
                <div class="flex flex-col justify-center">
                  <img
                    class="h-6 w-6 rounded-full align-middle"
                    src="https://cdn-icons-png.flaticon.com/512/149/149852.png"
                    alt="searchicon"
                  />
                </div>
              </button>
            </div>
          </form>
          <form method="get">
            <div class="flex justify-center">
              <div class="mr-2">
                <select
                  name="sort"
                  id="sort"
                  class="rounded-lg px-4 py-1 h-10 w-24"
                >
                  <option value="default">Sort</option>
                  <option value="AZ">A->Z</option>
                  <option value="ZA">Z->A</option>
                </select>
              </div>
              <button
                class="flex justify-between rounded-lg text-white bg-blue-600 text-sm py-2 px-4 mx-2 h-10"
              >
                Apply
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="flex flex-col basis-4/5">
        <div class="grid grid-cols-2 gap-4 mt-2 mx-10">
          {% for user in superusers %}
          <div class="bg-white w-full px-5 py-3 rounded-lg">
            <div class="flex flex-row px-5 justify-start">
              <div class="flex flex-col justify-center mr-5">
                <img
                  class="inline-block h-10 w-10 rounded-full"
                  src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                  alt=""
                />
              </div>
              <div class="flex flex-col">
                <h3 class="mx-0 text-black font-semibold">
                  <a href="/user-details/{{user.id}}/"
                    >{{user.first_name}} {{user.last_name}}</a
                  >
                </h3>
                <p class="text-sm text-gray-700">
                  Role: {{user.role}}<br />

                  <span class="">District: {{user.district}} </span> <br />

                  <span class="">Facility: {{user.facility}} </span>
                </p>
              </div>
            </div>
          </div>
          {% endfor %} {% for user in userdata %}
          <div class="bg-white w-full px-5 py-3 rounded-lg">
            <div class="flex flex-row px-5 justify-start">
              <div class="flex flex-col justify-center mr-5">
                <img
                  class="inline-block h-10 w-10 rounded-full"
                  src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                  alt=""
                />
              </div>
              <div class="flex flex-col">
                <h3 class="mx-0 text-black font-semibold">
                  <a href="/user-details/{{user.id}}/"
                    >{{user.first_name}} {{user.last_name}}</a
                  >
                </h3>
                <p class="text-sm text-gray-700">
                  Role: {{user.role}}<br />

                  <span class="">District: {{user.district}} </span> <br />

                  <span class="">Facility: {{user.facility}} </span>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
​ {% endblock %}
